@font-face {
    font-family: 'SoleilRegular';
    src: url(../fonts/SoleilRegular.woff2) format('woff2');
}
@font-face {
    font-family: 'SoleilBook';
    src: url(../fonts/SoleilBook.woff2) format('woff2');
}
@font-face {
    font-family: 'SoleilBold';
    src: url(../fonts/SoleilBold.woff2) format('woff2');
}
@font-face {
    font-family: 'SoleilLight';
    src: url(../fonts/SoleilLight.woff2) format('woff2');
}
@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import 'slick-carousel/slick/slick', 'slick-carousel/slick/slick-theme';


.container-max{
    max-width:1920px;
    margin-right:auto;
    margin-left:auto;
}

.container-md{
    max-width:1320px;
    margin-right:auto;
    margin-left:auto;
}

.container-md{
    max-width:1200px;
    margin-right:auto;
    margin-left:auto;
}
.unselectable{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
